* {
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
    box-sizing:border-box;
}
body {
    margin:0;
    padding:0;
}
header {
    background-color:#ccbbdd;
    text-align:center;
    font-size:185%;
    padding:10px;
    line-height:35%;
    .main {
        text-shadow:1px -1px 3px #000000;
    }
    .under {
        text-decoration-line:underline;
        text-shadow:1px -1px 2px #000000;
    }
}
div.section {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 1;
}
section::after {
    content:"";
    display:block;
    clear:both;
}
nav {
    grid-column:1;
    grid-row:1;
    padding-top:10px;
    padding-bottom:10px;
    background-color:#ccc;
    border-left-color:#444444;
    border-style:solid;
    border-left-width:20px;
    ul {
        list-style-type: none;
        margin: auto;
    }
    li {
        padding: 2px;  
        font-size:15px;
    }
}
article {
    grid-column:2;
    grid-row:1;
    padding:15px;
    padding-top:0;
    text-align:justify;
    border-color:black;
    border-width:5px;
    border-radius:0px;
    border-style:outset;
    background-color:#ccc;
    h1, h2, h3, h4, h5, h6 {
        height:0;
        text-decoration-line:underline;
    }
div.demographics {
        img {
        margin:20px;
        border-radius:20px;
        border-color:black;
        border-style:solid; 
        width:94%;
        }
    }
}
footer {
    background-color: #ccbbdd;
    font-size: 20px;
    padding: 10px;
}
@media(min-width: 1050px) {
    div.nav {
        ul {
            border:10px solid grey;
            border-style:outset;
            margin-left:0;
        }
    }
}

@media(min-width: 800px) {
    nav {
        li {
            display:inline;
        }
    }
    div.demographics {
        img {
            
        }
    }
}
@media(max-width: 650px) {
    header {
        .main {
            font-size: 160%;
        }
        .under {
            font-size: 85%;
        }
    }
    div.section {
        display:block;
    }
    article {
        padding-top: 0;
    } 
    nav {
        padding-top:20px;
        text-align: center;
        border-left-style:none;
        ul {
            padding-bottom:5px;
            border-left-width:0;
            border-bottom:grey;
            border-bottom-style:solid;
            border-bottom-width:10px;
        }
        li {
            display: inline;
            font-size:20px;
        }
    }
}

