* {
    font-family:"Quicksand", sans-serif;
    box-sizing: border-box;
    font-weight:bold;
}
body {
    background-color:#ddd;
    border:5px solid #777;
    margin:0;
}
form {
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
}
div {
    border:solid #333 3px;
}

/*info*/

.username, .password, .email, .phonenumber {
    text-align:center;
}
.username {
    flex-basis:50%;
}
.password {
    flex-basis:50%;
}
.email {
    flex-basis:50%;
}
.phonenumber {
    flex-basis:50%;
}
i.required {
    text-align:center;
    display:block;
    margin:0;
    font-size:80%;
}
input[type="tel"] {
    margin: 0 8px 8px 0px;
    padding:8px;
    border-radius:8px;
    max-width:140px;
}
input[type="number"].tel {
    font-size:80%;
    max-width:50px;
    border-radius:8px;
}
.emailInfo, .phonenumberInfo {
    display:block;
    font-size:70%;
    margin-bottom:6px;
}
label.info {
    display:block;
    font-size:130%;
    margin-top:10px;
}
.infohandling {
    flex-basis:100%;
    
    padding:10px 10px 22px 10px;
    font-size:80%;
    text-align:center;
}

/*submit*/

div.submit {
    position:relative;
    flex-basis:100%;
    text-align:center;
    padding:10px;
}
div.submit .submitInput {
    margin:0;
    font-size:200%;
    padding:8px;
    border-radius:8px;
    display:inline;
    Cursor:pointer;
}
div.submit .catImg {
    position:absolute;
    max-height:125px;
    bottom:-12px;
    left:24%;
}

/*preferences*/

div.preferences {
    flex-basis:100%;
    padding:10px;
    text-align:left;
}
div.preferences select {
    padding: 4px 4px 2px 4px;
    border-radius:8px;    
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="checkbox"],
input[type="select"] {
    margin: 0 8px 8px 8px;
    padding:8px;
    border-radius:8px;
    display:inline;
}
div.petAtHomeInfo {
    border:none;
    display:inline;
}
select.petAtHomeType {
    display:none;
}
div.petAtHomeInfo input[type="checkbox"]:checked ~ select.petAtHomeType {
    display:inline;
}
input[type="checkBox"]:hover {
    cursor:pointer;
}

label.preferences {
    display:inline-block;
    font-size:130%;
    margin-top:15px;
}
span.preferences {
    display:block;
}


@media screen and (min-width: 700px) {
    .infohandling {
        font-size:100%;
    }
}