* {
    font-family:"Quicksand", sans-serif;
    box-sizing: border-box;
    font-weight:bold;
}
body {
    background-color:#ddd;
    border:5px solid #777;
    margin:0;
}

.container {
    display: grid;
    grid-template-areas: 
    "header"
    "nav"
    "main"
    "footer";

    grid-template-rows: auto auto auto;
    grid-template-columns: 100%;
}


.header {
    grid-area: header;
    text-align:center;
}
div.logo {
    position:relative;
}
img.logo {
    margin-top: 22px;
    max-width: 300px;
    max-height:300px;
    border: 12px solid #eee;
    border-radius: 150px;
    box-shadow: 0px 0px 10px #777;
}
svg.accountPaw {
    position:absolute;
    top: 0px;   
    right:0px;
    width:140px;
    height:140px;
}   
div.account {
    display:block;
    position:absolute;
    width:auto;
    height:auto;
    right: 10px;
    top: 10px;
    padding:0px;
}
.accountIcon {
    max-width:70px;
    max-height: 70px;
}
.accountIcon:hover {
    cursor: pointer;
}
span.loggedIn {
    font-size: 70%;
    color:#ccc;
}
    

.nav {
    display: flex;
    justify-content: center;

    border-top: 5px solid #777;
    border-bottom: 5px solid #777; 
    padding: 10px 0px 10px 0px;
}
a {
    text-align:center;
    padding: 20px 20px;
    text-decoration: none;
    color: #fff;
    background-color: #333;
    border-radius: 20px;
    flex-basis:140px;
    flex-shrink:1;
}
a.shop {
    padding: 10px 20px;
    font-size:220%;
}
a.contact-us {
    background-color:#724F00
}
a:hover {
    background-color: #555;
    color:#ddd;
}


.main {
    grid-area: main;
    text-align: center;
}


.footer {
    grid-area: footer;
    text-align: center;
    border-top:3px solid #777;
    background-color:#724F00;
}


@media screen and (max-width: 600px) {
    .nav {
        font-size:90%;
    }
}
@media screen and (min-width: 800px) {
    .nav {
        justify-content: space-around;
    }
}