* {
    font-family:"Quicksand", sans-serif;
    box-sizing: border-box;
    font-weight:bold;
}
body {
    background-color:#ddd;
    border:5px solid #777;
    margin:0;
}
.container {
    display: grid;
    grid-template-areas: 
    "header"
    "nav"
    "main"
    "footer";

    grid-template-rows: auto auto auto;
    grid-template-columns: 100%;
}

/*header*/

.header {
    grid-area: header;
    text-align:center;
}
div.logo {
    position:relative;
}
img.logo {
    margin-top: 22px;
    max-width: 300px;
    max-height:300px;
    border: 12px solid #eee;
    border-radius: 150px;
    box-shadow: 0px 0px 10px #777;
    margin-left: auto;
    margin-right: auto;
}
svg.accountPaw {
    position:absolute;
    top: 0px;   
    right:0px;
    width:140px;
    height:140px;
}   
div.account {
    display:block;
    position:absolute;
    width:auto;
    height:auto;
    right: 10px;
    top: 10px;
    padding:0px;
}            
.accountIcon {
    max-width:70px;
    max-height: 70px;
}
.accountIcon:hover {
    cursor: pointer;
}
span.loggedIn {
    font-size: 70%;
    color:#ccc;
}

/*nav*/

.nav {
    display: flex;
    justify-content: center;

    border-top: 5px solid #777;
    border-bottom: 5px solid #777; 
    padding: 10px 0px 10px 0px;
}
.nav a {
    text-align:center;
    padding: 20px 20px;
    text-decoration: none;
    color: #fff;
    background-color: #333;
    border-radius: 20px;
    flex-basis:140px;
    flex-shrink:1;
    cursor:pointer;
}
.nav a.shop {
    padding: 10px 20px;
    font-size:220%;
    background-color:#724F00
}
.nav a:hover {
    background-color: #555;
    color:#ddd;
}

/*main*/

.main {
    grid-area: main;
}
div.search {
    display:flex;
    justify-content: center;
}
select.category {
    margin:15px;
    margin-top:25px;
    width:15%;
    max-width:160px;
    font-size:110%;
    border-radius:8px;
}
option.categoryOption {
    font-size:90%;
}



.searchBar {
    margin:15px;
    margin-top:25px;
    width:60%;
    max-width:500px;
    font-size:120%;
    border-radius:10px;
}
.material-symbols-outlined {
    margin-top:27px;
    Cursor: pointer;
    font-size:165%;
    font-variation-settings:
    'FILL' 0,
    'wght' 500,
    'GRAD' 0,
    'opsz' 24
}

div.productContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: start;
    justify-content: space-around;
        
    margin: 15px 0px 15px 0px;
    row-gap: 5vh;
}
div.product {
    flex-basis: 30%;
    border:5px solid #555;
    border-radius:15px;
    background-color:#eee;
    text-align:center;
    transition: transform 0.3s ease-in-out;

    max-height: 350px;
    overflow-y: scroll;

    -ms-overflow-style: none; /*IE and Edge, others*/
    scrollbar-width: none; /*newly added, may not be avaiable*/
}
div.product:hover {
    transform: scale(1.05);
}
img.petImage {
    border-bottom:5px solid #555; 
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width:100%;
}
div.petInfo h3 {
    margin:0px;
    padding:0px;
}
.name {
    text-decoration: underline;
}
div.petInfo p {
    margin:2.5%;
    padding:0px;
}
button.contactSeller {
    border-radius: 10px;
    margin: 10px 0px 18px 0px;
    Cursor:pointer;
}
button.contactSeller:hover {
    background-color: #555;
    color:#ddd;
}
div.noProductBanner {
    text-align:center;
    text-decoration-line:underline;
    display:none;
}
div.noProductBanner h3 {
    margin-top:0;
}

/*footer */

.footer {
    grid-area: footer;
    text-align: center;
    border-top:3px solid #777;
    background-color:#724F00;
}


@media screen and (max-width: 600px) {
    .nav {
        font-size:90%;
    }

    div.product {
        font-size:80%;
    }
}
@media screen and (min-width: 800px) {
    .nav {
        justify-content: space-around;
    }

    div.product {
        flex-basis:22.5%;
    }
}
@media screen and (min-width: 1000px) {
    div.product {
        flex-basis:18%;
    }
}